<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Oslo Codex</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>no.cybergroup.oslocodex</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>oslocodex</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>spotify</string>
        <string>music</string>
        <string>youtubemusic</string>
        <string>soundcloud</string>
        <string>tidal</string>
        <string>deezer</string>
        <string>youtube</string>
        <string>twitter</string>
        <string>fb</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>Oslo Codex uses Apple Music so you can play the album if you subscribe.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Oslo Codex uses your location only to open Maps directions to a place from the album.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
