build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.playground
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.build/
.swiftpm/
Packages/
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
.DS_Store
.idea/
*.swp
*.p8
*.p12
*.mobileprovision
AuthKey_*.p8
Secrets.xcconfig
.env
.env.*
